{% extends 'base.html'%}

{% block title%} {{user.username}} Page {% endblock %}

{% block content %}
<h1 class="text-center">Welcome back, {{user.username}}</h1>
<div class="row justify-content-center">
    <div class="jumbotron">
        <ul>
            <li>Username: {{user.username}}</li>
            <li>Username: {{user.email}}</li>
            <li>Username: {{user.first_name}}</li>
            <li>Username: {{user.last_name}}</li>
        </ul>
        <form action="/users/{{session['user_id']}}/delete" method="POST">
            <a href="/users/{{session['user_id']}}/feedback/add" class="btn btn-info">Add Feedback</a>
            <button type="submit" class="btn btn-danger">Delete Account</button>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="jumbotron justify-content-center">
        <h3 class="text-center">Feedback</h3>
        {%for feedback in feedbacks%}
        <div class="card mt-2">
            <div class="card-body">
                <h6><em>{{feedback.title}}</em>
                    <form action="/feedback/{{feedback.id}}/delete", method="POST", class="d-inline">
                        <a href="/feedback/{{feedback.id}}/update"><i class="fas fa-edit"></i></a>
                        <button class="btn bg-transparent"><i class="fas fa-trash"></i></button>                    
                    </form>
                </h6>
                <p>{{feedback.content}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}